<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit()" #f="ngForm">
        <div id="userData" ngModelGroup="userData" #userData>
          <div class="form-group">
            <label for="email">Email Adress </label> <br />
            <input
              id="email"
              type="email"
              name="email"
              required
              email
              ngModel
              #email="ngModel"
            />
          </div>
          <p class="help-block" *ngIf="!email.valid && email.touched">
            Please enter a valid email!
          </p>
          <div class="form-group">
            <label for="level">Select your level</label><br />
            <select
              id="level"
              name="level"
              class="form-control"
              [ngModel]="defaultLevel"
            >
              <option value="Basic">Basic</option>
              <option value="Advanced">Advanced</option>
              <option value="Pro">Pro</option>
            </select>
            <div class="form-group">
              <label for="password">Password</label><br />
              <input
                id="password"
                name="password"
                type="password"
                required
                password
                ngModel
                #password="ngModel"
              />
            </div>
            <p class="help-block" *ngIf="!password.valid && password.touched">
              Please enter a valid Password
            </p>
          </div>
        </div>
        <hr />
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
  <hr />
  <div class="row" *ngIf="formSubmitted">
    <p>Your Email: {{ user.email }}</p>
    <p>Your level: {{ user.level }}</p>
    <p>Your password: {{ user.password }}</p>
  </div>
</div>
